@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,900&family=Poppins:wght@400;700&display=swap");

:root {
  --bg-color: ;
}

body {
  font-family: "Mulish", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: #fff;
  text-align: center;
  font-size: 2em;
  text-shadow: 0px 0px 10px #000000;
  letter-spacing: 2px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page > label {
  font-size: inherit;
  padding: 2rem;
}

input {
  font-size: 2rem;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease;
  padding: 1rem 0;
  width: 30vw;
}

.page > input:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
}

.result {
  font-size: inherit;
  padding: 2rem 0;
}

.result-value {
  font-weight: 900;
  /* font-size: 2em; */
  color: antiquewhite;
}

/********* -Media Queries- **********/

@media screen and (max-width: 375px) {
  .page {
    width: 80vw;
  }
  input {
    width: 30vw;
  }
}
